.container-main {
  background-color: var(--color-white);

  /* personal contact and info */
  .aside {
    background-color: var(--color-secondary);
    padding-top: 2rem;
    padding-bottom: 1rem;

    .profile-avatar {
      display: block;
      text-align: center;
      position: relative;

      img {
        width: 200px;
        border-radius: 50%;
      }

      figcaption {
        position: absolute;
        width: 100%;
        bottom: 10px;
        margin: 0 auto;

        small {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          border-radius: 50%;
          background-color: var(--color-primary);
          color: var(--color-white);
          text-transform: uppercase;
        }
      }
    }

    .title {
      text-transform: uppercase;
      margin-left: 2rem;
      padding-left: 1rem;
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    section {
      ul {
        margin-left: 1rem;

        li {
          display: flex;
          align-items: center;

          .skills-bar {
            margin-left: 2rem;
            margin-right: 2rem;
          }
        }

        li > i {
          padding-right: 2rem;
          color: var(--text-color);
          line-height: 2;
        }

        .skills-bar {
          width: 90%;
          height: 10px;
          background-color: #fff;
        }

        .skills-bar-html {
          width: 80%;
          height: 8px;
          background-color: green;
        }
      }

      p {
        margin-left: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

    }
  }

  /* personal experience and education */
  .container-info {
    margin-left: 2rem;
    padding-bottom: 1rem;

    section {
      padding-top: 4rem;
    }

    .title {
      background-color: var(--color-secondary);
      color: var(--text-color);
      padding-left: 1rem;
      text-transform: uppercase;
    }

    .desc {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .desc:not(:last-child) {
      margin-bottom: 2rem;
    }

    .code > pre {
      overflow-x: auto;
      tab-size: 4;
      background-color: var(--color-bg);
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .container-main {
    display: flex;
  }

  .aside {
    width: 40%;
  }

  .container-info {
    width: 60%;
  }
}